@version:3.5
@include "scl.conf"

# Define Global Options
options {
  flush_lines (0);
  time_reopen (10);
  log_fifo_size (1000);
  chain_hostnames (off);
  use_dns (no);
  use_fqdn (no);
  create_dirs (no);
  dns-cache-hosts (/etc/hosts);
  keep_hostname (yes);
  time-zone ("America/Chicago");
};


# Define input source
source s_sys {
  system();
  internal();
};

# Define remote logging destination
destination d_syslogng_tls {
  syslog("{{ syslogng_server_dn }}" 
  port("{{ syslogng_server_port }}")
  transport("{{ syslogng_server_protocol }}")
  tls(ca-dir("/etc/pki/tls/certs/{{ syslogng_server_dn }}"))
  );
};

log { source(s_sys);destination(d_syslogng_tls); };
