@version:3.5
@include "scl.conf"

# Define Global Options
options {
  flush_lines (0);
  time_reopen (10);
  log_fifo_size (1000);
  chain_hostnames (off);
  use_dns (no);
  use_fqdn (no);
  create_dirs (no);
  dns-cache-hosts (/etc/hosts);
  keep_hostname (yes);
  time-zone ("America/Chicago");
};


# Define input source
source s_sys {
  system();
  internal();
};

# Define remote logging destination
destination d_syslogng_tls {
  syslog("{{ syslogng_server_prefix }}.{{ syslogng_server_suffix }}"
  port("{{ syslogng_server_port }}")
  transport("{{ syslogng_server_protocol }}")
  tls( 
    ca-dir("{{ syslogng_cert_path }}{{ syslogng_server_prefix }}.{{ syslogng_server_suffix }}")
    key-file("{{ syslogng_key_path }}{{ syslogng_dn_prefix }}.{{ syslogng_dn_suffix }}/{{ syslogng_dn_prefix }}_privkey.pem")
    cert-file("{{ syslogng_cert_path }}{{ syslogng_dn_prefix }}.{{ syslogng_dn_suffix }}/{{ syslogng_dn_prefix }}_cert.pem")
    peer-verify(optional-untrusted))); 
};


# Define Destination for Remote Log - TEMP? Remove after testing?
destination netlogpile { file(
"/var/log/syslogng.log"
owner(root) group(root) perm (0600)
create_dirs ( yes ) dir_perm( 0700 ));
};

log { source(s_sys);destination(d_syslogng_tls); };

log { source(s_sys);destination(netlogpile); };
